// catppuccin mocha 
// https://github.com/shvedes/dotfiles

* {
    background:         #1e1e2e;
    background-alt:     #1e1e2e;
    border-col:         #1e1e2e;
    selected:           #89b4fa;
    foreground:         #cdd6f4;
    foreground-alt:     #cdd6f4;
    urgent:             #f38ba8;
}
